<div class="container">
 <h1>Car Details</h1>
  <!-- This long section is for carousel/paginate effect.
  Originally I wanted to make a loop so it can list out as many images as included,
  while also looking tidy, but due to time constraits, optted for this basic struture-->

  <!--Slide indicators-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators rounded-1">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <!--Slide image's-->
    <div class="carousel-inner rounded">
      <div class="carousel-item active">
        <%= image_tag @car.images[0].variant(resize_to_fill: [720,300]), class:"d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag @car.images[1].variant(resize_to_fill: [720,300]), class:"d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag @car.images[2].variant(resize_to_fill: [720,300]), class:"d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag @car.images[3].variant(resize_to_fill: [720,300]), class:"d-block w-100" %>
      </div>
    </div>
  <!--The "next" and "previous" buttons-->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div><hr/>
  <!--Car info-->
  <div class="row">   
    <h3 class="col"><%= @car.make %> <%= @car.model %> <%= @car.year %></h3>
    <h3 class="col text-end">Price: 5$</h3>
  </div><hr/>
  <!--Booking section-->
  <div class="row text-center">
    <h6 class="col">Available Dates: <%= @car.available_from.to_date %> ⇒ <%= @car.available_until.to_date %></h6>
  </div>
  <div>
    <!--alert message render-->
    <% flash.each do |type, msg| %>
      <div class="alert alert-warning">
        <%= msg %>
      </div>
    <% end %>
    <!--Date-picker fields-->
    <%= form_with url: "/home/book", method: :post do |book| %>
      <%= book.label :start_date, "Start Date", class:"fw-bold", style:"display: block"%>
      <%= book.date_field :start_date %>
      <%= book.label :end_date, "End Date", class:"fw-bold", style:"display: block" %>
      <%= book.date_field :end_date %>
      <%= book.submit "Book Now!", class:"btn btn-primary d-block", style:"margin-top: 10px" %>
    <% end %>
  </div>

  
  <!--Page footer-->
  <hr/><%= link_to 'Back', :back, class:"btn btn-dark" %>
</div>
