<div class="container">
 <h1>Car Details</h1>
  <!-- This long section is for carousel/paginate effect.
  Originally I wanted to make a loop so it can list out as many images as included,
  while also looking tidy, but due to time constraits, optted for this basic struture-->

  <!--Slide indicators-->
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
    <div class="carousel-indicators rounded-1">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
    </div>
    <!--Slide image's-->
    <div class="carousel-inner rounded">
      <div class="carousel-item active">
        <%= image_tag @car.images[0].variant(resize_to_fill: [720,300]), class:"d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag @car.images[1].variant(resize_to_fill: [720,300]), class:"d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag @car.images[2].variant(resize_to_fill: [720,300]), class:"d-block w-100" %>
      </div>
      <div class="carousel-item">
        <%= image_tag @car.images[3].variant(resize_to_fill: [720,300]), class:"d-block w-100" %>
      </div>
    </div>
  <!--The "next" and "previous" buttons-->
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
  </div><hr/>

  <!--Car info-->
  <div class="container">
    <div class="row">   
      <h3 class="col"><%= @car.make %> <%= @car.model %> <%= @car.year %></h3>
      <!--the price was originally an idea to test out assinging a random number to each car via the model WIP*-->
      <h3 class="col text-end">Price: 5.99$</h3>
    </div>
    <div>
      <h6 class="col text-center fw-light">Available Dates: <%= @car.available_from.to_date %> ⇒ <%= @car.available_until.to_date %></h6>
    </div>

    <!--Booking section-->
    <div class="text-center">
      <% if notice %>
        <div class="alert alert-success" role="alert">
          <%= notice %>
        </div>
      <% end %>

      <% if alert %>
        <div class="alert alert-danger">
          <%= alert %>
        </div>
      <% end %>
      
      <!--Pop-up button-->
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Select trip dates
      </button>
    </div>
    <!--Pop-up body-->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="staticBackdropLabel">Select trip dates</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!--Repeated the available dates inside the pop up, to make sure the user see's it-->
            <h6 class="col text-center fw-light">Available Dates: <%= @car.available_from.to_date %> ⇒ <%= @car.available_until.to_date %></h6>
            <!--Date-picker fields for the home#book function-->
            <%= form_with url: "/home/book", method: :post do |book| %>
              <%= hidden_field_tag "available_from", @car.available_from.to_date  %>
              <%= hidden_field_tag "available_until", @car.available_until.to_date %>
              <!--sectioned this portion off to get the layout right-->
              <div class="row  row-cols-3">
                <%= book.label :start_date, "Start Date", class:"fw-bold col text-start" %>
                <p class="col"></p>
                <%= book.label :end_date, "End Date", class:"fw-bold col text-end" %>
                <%= book.date_field :start_date, class:"col-md" %>
                <p class="col-auto">⇒</p>
                <%= book.date_field :end_date, class:"col-md offset-md" %>
              </div><br/>
              <%= book.submit "Book Now!", class:"btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--Page footer/ back button-->
  <hr/><%= link_to 'Back', :back, class:"btn btn-dark" %>
</div>